<html>
    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <!-- <script type="text/javascript" src="table.js"></script> -->
        <script type="text/javascript">
            function getFamilyTableValue(personID, columnIndex)
            {
                var rowIndex = familyTable.getFilteredRows([
                    {
                        column: columnIndexID,
                        value: personID
                    }
                ])[0];

                return familyTable.getValue(rowIndex, columnIndex);
            }

            google.charts.load('current', {packages:["orgchart", "timeline"]});
            google.charts.setOnLoadCallback(function() {
                familyTable = new google.visualization.DataTable({{ descendents|safe }});
                ancestors = new google.visualization.DataTable({{ ancestors|safe }});
                columnIndexID = familyTable.getColumnIndex('ID');
                locations = new google.visualization.DataTable({{ locations|safe }});;
                timelines = new google.visualization.DataTable({{ timelines|safe }});;
                var peopleList = document.getElementById("people");
                
                // for(var r=0; r<familyTable.getNumberOfRows(); r++)
                // {
                //     var item = document.createElement("option");
                //     const personID = familyTable.getValue(r, columnIndexID);
                //     item.text = getName(personID);
                //     peopleList.add(item);
                // }

                drawChart(0);
            });

            function drawChart(rootPersonIndex)
            {
                const rootPersonID = familyTable.getValue(rootPersonIndex, columnIndexID);
                var partnersIDs = {};
                var peopleInfo = [];

                var chart = new google.visualization.OrgChart(document.getElementById('familyTree'));
                chart.draw(familyTable, {'allowHtml': true});

                var ancestorChart = new google.visualization.OrgChart(document.getElementById('ancestorTree'));
                ancestorChart.draw(ancestors, {'allowHtml': true});

                var timeline = new google.visualization.Timeline(document.getElementById('timeline'));

                var timelineData = new google.visualization.DataTable({{ timelines|safe }});
                timeline.draw(timelineData);
            }
        </script>
        <style>
            .partner 
            {
                color: maroon;
                font-size: smaller;
            }
        </style>
    </head>
    <body>
        <div>
            <ul id="people" onchange="drawChart(this.selectedIndex)">
              {% for person in people %}
              <li>{{ person.name }}</li>
              {% endfor %}
            </ul>
        </div>
        <div id="familyTree"></div>
        <hr>
        <div id="ancestorTree"></div>
        <hr>
        <div id="timeline"></div>
    </body>
</html>
